footer {
  display: flex;
  flex-direction: column;
  position: relative;
  // position: absolute;
  // height: 10vh;
  font-style: italic;
  text-align: center;
  bottom: 1%;
  width: 100vw;

  p {
    font-size: 15px;
  }

  /*social-media toolbar*/
  .social-media {
    transform: scale(0.5);
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: transparent;
    gap: 50%;
  }
}
