$purple: #3b49b4;
$darkblue: #023b6b;
$orange: #f8ae48;
$grey: #363636;

$blue: #355c7d;
$violet: #725a7a;
$pink: #c56c86;
$pink2: #ff7582;

// background colors
$principal-background-color: rgb(255, 254, 254);
$background-header-img: rgba(255, 255, 255, 0.3);
$background-soft-skills: rgba(161, 161, 154, 0.5);

// text colors
// $principal-text-color: rgb(121, 120, 120);
$principal-text-color: rgb(201, 198, 198);
$text-color-carousel-caption: black;
$secondary-text-color: black;
